# requirements.txt - All the packages required for this project
# -------------------------------
# Core Python Package Management
# -------------------------------

# Pip - The package manager for Python
pip==25.0.1

# Setuptools - Tools for packaging Python projects
setuptools==75.8.0

# Wheel - Helps distribute Python packages in the .whl format
wheel==0.45.1

# -------------------------------
# Interactive Python Environment
# -------------------------------

# IPython - Provides an enhanced interactive shell for Python
ipython==8.32.0

# JupyterLab - Web-based interactive development environment for notebooks
jupyterlab==4.3.5

# Jupyter - A web-based interactive development environment for notebooks, code, and data
jupyter==1.1.1

# -------------------------------
# Numerical & Data Processing
# -------------------------------

# NumPy - Library for numerical computing and handling large datasets
numpy==2.2.3

# Pandas - Data analysis and manipulation tool, useful for working with DataFrames
pandas==2.2.3

# PyArrow - Provides fast data interchange between Pandas and Apache Arrow
pyarrow==19.0.0

# -------------------------------
# Data Visualization
# -------------------------------

# Matplotlib - Visualization library for creating static, animated, and interactive plots
matplotlib==3.10.0

# Seaborn - Statistical data visualization built on top of Matplotlib
seaborn==0.13.2